/* Navbar.css */

.navbar {
  background-color: #003b76;
  color: #fff;
}

.navbar-brand{
  padding-left: 3rem;
  color: #ffffff;
  font-size: larger;
  font-weight: 900;
}
.navbar-brand:hover{
  color:#ff8400;
  font-size: larger;
}


.navbar-nav {
  margin-right: 0; /* Remove default margin */
  margin-left: auto; /* Push navbar-nav to the right */
}

.nav-item {
  margin-right: 20px; /* Add some spacing between nav items */
}

.nav-link {
  color: #ffffff;
  font-weight:400;
}


.nav-link:hover {
  color: #ff8400;
  font-weight:400;
}


.navbar-nav li {
  position: relative;
  /* overflow: hidden; */
  color: #fff;
}

.navbar-nav li .card {
  margin-top: 10px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.navbar-nav li:hover .card {
  display: block;
}


.navbar-nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}


.navbar-nav li:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}
