/* Navbar.css */

.navbar {
  background-color: #003b76;
  color: #fff;
}

.navbar-brand{
  padding-left: 3rem;
  color: #ffffff;
  font-size: larger;
  font-weight: 900;
}
.navbar-brand:hover{
  color:#ff8400;
  font-size: larger;
}


.navbar-nav {
  margin-right: 0; /* Remove default margin */
  margin-left: auto; /* Push navbar-nav to the right */
}

.nav-item {
  margin-right: 20px; /* Add some spacing between nav items */
}

.nav-link {
  color: #ffffff;
  font-weight:400;
}


.nav-link:hover {
  color: #ff8400;
  font-weight:400;
}


.navbar-nav li {
  position: relative;
  /* overflow: hidden; */
  color: #fff;
}

.navbar-nav li .card {
  margin-top: 10px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
}

.navbar-nav li:hover .card {
  display: block;
}


.navbar-nav li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}


.navbar-nav li:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}


/* landing pagr */

.landingpage{
  height: 600px;
  width: 100%;
  background-color: #003b76;
  color: #fff;
  display: flex;
}

.heading{
  padding-top: 100px;
  padding-left: 70px;
  padding-bottom: 20px;
 
  width: 50%;
}

.heading h1{
  font-size: 90px;
  margin-bottom: 30px;

}

.heading span{
  margin-top: 27px;
 font-size: 15px;
}

.heading button{
  margin-top: 42px;
  margin-left: 10px;
  width: 150px;
  height: 50px;
  font-size: 1.4rem;
  border-radius: 1rem;
}

.heading button:hover{
  background-color: #ff8400;
  border: none;
}



/* explore */
.explore{
  background-color: #025ab2;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore .butt .btn{
  height: 15rem;
  width: 10rem;
margin-left: 18px;
font-size: 1.5rem;
text-align: center;
background-color: #003b76;
border: none;

}

.explore .butt .btn:hover{
  background-color: #ff8400;
}

.acccor{
  background-color: #003b76;
  padding-top: 30px;
  padding-bottom: 20px;
}

.acccor .accordion .accordion-item{
  background-color: #025ab2;
  color: #ffffff;
  

}

.acccor .accordion .accordion-item .accordion-button{
background-color: #0478eddc;
border: none;
color: #fff;
}

.acccor .accordion .accordion-item .accordion-button:hover{
  background-color: #ff8400;
}
